/* Verde Euskalmet	#0F9439 */
/* Azul Euskalmet	#053A65*/

h1 a, .tx-header a:hover, .rx-header a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 28px;
}

.tx-header h1, .rx-header h1 {
	margin-top: 10;
	vertical-align: middle;
	text-align: center;
}

.tx-header h1 img, .rx-header h1 img {
	vertical-align: middle;
}

.tx-header h1 a, .rx-header h1 a {
	vertical-align: center ;
	padding-left: 30px;
	padding-right: 30px;
}


.tx-header, .rx-header {
	background: #8e9eab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
