h1 a {
	/* color: #053A65; Azul Euskalmet */
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.tx-header h1, .rx-header h1{
	background-color: #0F9439; /* Verde Euskalmet */
	margin-top: 10;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align:middle;
	text-align: center;
}

.tx-header h1 img, .rx-header h1 img {
	vertical-align:middle;
}

.tx-header h1 a, .rx-header h1 a {
	text-align: right;
	padding-left: 30px;
	padding-right: 30px;
}


body {
	padding-left: 10px;
}
