{% load staticfiles %} <!-- Nueva CSS que especifico abajo -->
<html>

  <head>
    <title>Kapildui - Cuadro de Mando</title>
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    -->
    <script type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load Charts and the corechart and barchart packages.
      google.charts.load('43', {'packages':['corechart']}); // Frozen version 43. Si no, 'current'
      // Draw the pie chart and bar chart when Charts is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        // ##### DATOS #####
        var tensiones_drx1_pos5 = new google.visualization.DataTable();
        tensiones_drx1_pos5.addColumn('timeofday', 'Fecha');
        tensiones_drx1_pos5.addColumn('number', '+5V');
        var tensiones_drx1_pos33 = new google.visualization.DataTable();
        tensiones_drx1_pos33.addColumn('timeofday', 'Fecha');
        tensiones_drx1_pos33.addColumn('number', '+3.3V');
        var tensiones_drx1_neg5 = new google.visualization.DataTable();
        tensiones_drx1_neg5.addColumn('timeofday', 'Fecha');
        tensiones_drx1_neg5.addColumn('number', '-5V');
        tensiones_drx1_pos5.addRows([
          {% for pos5 in drxpos5 %}
            [ [ {{ pos5.fecha.hour}},{{ pos5.fecha.minute}},{{ pos5.fecha.second}} ],
              {{ pos5.tension }}
            ],
          {% endfor %}
        ]);
        tensiones_drx1_pos33.addRows([
          {% for pos33 in drxpos33 %}
            [ [ {{ pos33.fecha.hour}},{{ pos33.fecha.minute}},{{ pos33.fecha.second}} ],
              {{ pos33.tension }}
            ],
          {% endfor %}
        ]);
        tensiones_drx1_neg5.addRows([
          {% for neg5 in drxneg5 %}
            [ [ {{ neg5.fecha.hour}},{{ neg5.fecha.minute}},{{ neg5.fecha.second}} ],
              {{ neg5.tension }}
            ],
          {% endfor %}
        ]);
        var tensiones_drx1_temp = google.visualization.data.join(tensiones_drx1_pos5, tensiones_drx1_pos33, 'full', [[0,0]], [1], [1]);
        var tensiones_drx1 = google.visualization.data.join(tensiones_drx1_temp, tensiones_drx1_neg5, 'full', [[0,0]], [1,2], [1]);

        var tensiones_drx2_pos5 = new google.visualization.DataTable();
        tensiones_drx2_pos5.addColumn('timeofday', 'Fecha');
        tensiones_drx2_pos5.addColumn('number', '+5V');
        var tensiones_drx2_pos33 = new google.visualization.DataTable();
        tensiones_drx2_pos33.addColumn('timeofday', 'Fecha');
        tensiones_drx2_pos33.addColumn('number', '+3.3V');
        var tensiones_drx2_neg5 = new google.visualization.DataTable();
        tensiones_drx2_neg5.addColumn('timeofday', 'Fecha');
        tensiones_drx2_neg5.addColumn('number', '-5V');
        tensiones_drx2_pos5.addRows([
          {% for pos5 in drx2pos5 %}
            [ [ {{ pos5.fecha.hour }},{{ pos5.fecha.minute }},{{ pos5.fecha.second }} ],
              {{ pos5.tension }}
            ],
          {% endfor %}
        ]);
        tensiones_drx2_pos33.addRows([
          {% for pos33 in drx2pos33 %}
            [ [ {{ pos33.fecha.hour }},{{ pos33.fecha.minute }},{{ pos33.fecha.second }} ],
              {{ pos33.tension }}
            ],
          {% endfor %}
        ]);
        tensiones_drx2_neg5.addRows([
          {% for neg5 in drx2neg5 %}
            [ [ {{ neg5.fecha.hour }},{{ neg5.fecha.minute }},{{ neg5.fecha.second }} ],
              {{ neg5.tension }}
            ],
          {% endfor %}
        ]);
        var tensiones_drx2_temp = google.visualization.data.join(tensiones_drx2_pos5, tensiones_drx2_pos33, 'full', [[0,0]], [1], [1]);
        var tensiones_drx2 = google.visualization.data.join(tensiones_drx2_temp, tensiones_drx2_neg5, 'full', [[0,0]], [1,2], [1]);



        var temperaturas_drx1_ip = new google.visualization.DataTable();
        temperaturas_drx1_ip.addColumn('timeofday', 'Fecha');
        temperaturas_drx1_ip.addColumn('number', 'IP');
        var temperaturas_drx1_dig = new google.visualization.DataTable();
        temperaturas_drx1_dig.addColumn('timeofday', 'Fecha');
        temperaturas_drx1_dig.addColumn('number', 'DIG');
        var temperaturas_drx1_ana = new google.visualization.DataTable();
        temperaturas_drx1_ana.addColumn('timeofday', 'Fecha');
        temperaturas_drx1_ana.addColumn('number', 'ANA');
        temperaturas_drx1_ip.addRows([
          {% for valor in drxip %}
            [ [ {{ valor.fecha.hour }},{{ valor.fecha.minute }},{{ valor.fecha.second }} ],
              {{ valor.temperatura }}
            ],
          {% endfor %}
        ]);
        temperaturas_drx1_dig.addRows([
          {% for valor in drxdig %}
            [ [ {{ valor.fecha.hour }},{{ valor.fecha.minute }},{{ valor.fecha.second }} ],
              {{ valor.temperatura }}
            ],
          {% endfor %}
        ]);
        temperaturas_drx1_ana.addRows([
          {% for valor in drxana %}
            [ [ {{ valor.fecha.hour }},{{ valor.fecha.minute }},{{ valor.fecha.second }} ],
              {{ valor.temperatura }}
            ],
          {% endfor %}
        ]);
        var temperaturas_drx1_temp = google.visualization.data.join(temperaturas_drx1_ip, temperaturas_drx1_dig, 'full', [[0,0]], [1], [1]);
        var temperaturas_drx1 = google.visualization.data.join(temperaturas_drx1_temp, temperaturas_drx1_ana, 'full', [[0,0]], [1,2], [1]);

        var temperaturas_drx2_ip = new google.visualization.DataTable();
        temperaturas_drx2_ip.addColumn('timeofday', 'Fecha');
        temperaturas_drx2_ip.addColumn('number', 'IP');
        var temperaturas_drx2_dig = new google.visualization.DataTable();
        temperaturas_drx2_dig.addColumn('timeofday', 'Fecha');
        temperaturas_drx2_dig.addColumn('number', 'DIG');
        var temperaturas_drx2_ana = new google.visualization.DataTable();
        temperaturas_drx2_ana.addColumn('timeofday', 'Fecha');
        temperaturas_drx2_ana.addColumn('number', 'ANA');
        temperaturas_drx2_ip.addRows([
          {% for valor in drx2ip %}
            [ [ {{ valor.fecha.hour }},{{ valor.fecha.minute }},{{ valor.fecha.second }} ],
              {{ valor.temperatura }}
            ],
          {% endfor %}
        ]);
        temperaturas_drx2_dig.addRows([
          {% for valor in drx2dig %}
            [ [ {{ valor.fecha.hour }},{{ valor.fecha.minute }},{{ valor.fecha.second }} ],
              {{ valor.temperatura }}
            ],
          {% endfor %}
        ]);
        temperaturas_drx2_ana.addRows([
          {% for valor in drx2ana %}
            [ [ {{ valor.fecha.hour }},{{ valor.fecha.minute }},{{ valor.fecha.second }} ],
              {{ valor.temperatura }}
            ],
          {% endfor %}
        ]);
        var temperaturas_drx2_temp = google.visualization.data.join(temperaturas_drx2_ip, temperaturas_drx2_dig, 'full', [[0,0]], [1], [1]);
        var temperaturas_drx2 = google.visualization.data.join(temperaturas_drx2_temp, temperaturas_drx2_ana, 'full', [[0,0]], [1,2], [1]);


        var potencia_h = new google.visualization.DataTable();
        potencia_h.addColumn('timeofday', 'Fecha');
        potencia_h.addColumn('number', 'Canal H');
        var potencia_v = new google.visualization.DataTable();
        potencia_v.addColumn('timeofday', 'Fecha');
        potencia_v.addColumn('number', 'Canal V');
        potencia_h.addRows([
          {% for valor in poth %}
            [ [ {{ valor.fecha.hour }},{{ valor.fecha.minute }},{{ valor.fecha.second }} ],
              {{ valor.potencia }}
            ],
          {% endfor %}
        ]);
        potencia_v.addRows([
          {% for valor in potv %}
            [ [ {{ valor.fecha.hour }},{{ valor.fecha.minute }},{{ valor.fecha.second }} ],
              {{ valor.potencia }}
            ],
          {% endfor %}
        ]);
        var potencia_tx = google.visualization.data.join(potencia_h, potencia_v, 'full', [[0,0]], [1], [1]);

        var temperaturas_ecu = new google.visualization.DataTable();
        temperaturas_ecu.addColumn('timeofday', 'Fecha');
        temperaturas_ecu.addColumn('number', 'ECU');
        temperaturas_ecu.addRows([
          {% for valor in ecutemp %}
            [ [ {{ valor.fecha.hour }},{{ valor.fecha.minute }},{{ valor.fecha.second }} ],
              {{ valor.temperatura }}
            ],
          {% endfor %}
        ]);

        var offset_potencia = new google.visualization.DataTable();
        offset_potencia.addColumn('timeofday', 'Fecha');
        offset_potencia.addColumn('number', 'Offset');
        offset_potencia.addRows([
          {% for fecha,valor in offset %}
            [ [ {{ fecha.hour }},{{ fecha.minute }},{{ fecha.second }} ],
              {{ valor }}
            ],
          {% endfor %}
        ]);

        var corriente_solenoide = new google.visualization.DataTable();
        corriente_solenoide.addColumn('timeofday', 'Fecha');
        corriente_solenoide.addColumn('number', 'Corriente');
        corriente_solenoide.addRows([
          {% for valor in solcurrent %}
            [ [ {{ valor.fecha.hour }},{{ valor.fecha.minute }},{{ valor.fecha.second }} ],
              {{ valor.corriente }}
            ],
          {% endfor %}
        ]);


        // ##### REPRESENTACIONES #####
        var drx1_tension_options = {
          title:'Tensiones DRX1 - 1 de Marzo de 2016',
          titleTextStyle: {fontSize: 14},
          width:600,
          height:300,
          interpolateNulls: true,
          curveType:'function',
          legend: {position: 'top', alignment: 'center'},
          explorer: {
            actions: ['dragToZoom','rightClickToReset'],
            keepInBounds: true
          },
          focusTarget: 'category',
          hAxis: {
            title: 'Horario'
          },
          vAxis: {
            title: 'Tensión (V)',
            ticks: [-6,-4,-2,0,2,4,6]
          }
        };
        var drx1_volt_chart = new google.visualization.LineChart(document.getElementById('linechart_drx1_volt'));
        drx1_volt_chart.draw(tensiones_drx1, drx1_tension_options);

        var drx2_tension_options = {
          title:'Tensiones DRX2 - 1 de Marzo de 2016',
          titleTextStyle: {fontSize: 14},
          width:600,
          height:300,
          interpolateNulls: true,
          curveType:'function',
          legend: {position: 'top', alignment: 'center'},
          explorer: {
            actions: ['dragToZoom','rightClickToReset'],
            keepInBounds: true
          },
          focusTarget: 'category',
          hAxis: {
            title: 'Horario'
          },
          vAxis: {
            title: 'Tensión (V)',
            ticks: [-6,-4,-2,0,2,4,6]
          }
        };
        var drx2_volt_chart = new google.visualization.LineChart(document.getElementById('linechart_drx2_volt'));
        drx2_volt_chart.draw(tensiones_drx2, drx2_tension_options);

        var drx1_temperatura_options = {
          title:'Temperaturas DRX1 - 1 de Marzo de 2016',
          titleTextStyle: {fontSize: 14},
          width:600,
          height:300,
          interpolateNulls: true,
          curveType:'function',
          legend: {position: 'top', alignment: 'center'},
          focusTarget: 'category',
          explorer: {
            actions: ['dragToZoom','rightClickToReset'],
            keepInBounds: true
          },
          hAxis: {
            title: 'Horario'
          },
          vAxis: {
            title: 'Temperatura (ºC)',
            ticks: [20,22,24,26,28,30,32,34,36]
          }
        };
        var drx1_temp_chart = new google.visualization.LineChart(document.getElementById('linechart_drx1_temp'));
        drx1_temp_chart.draw(temperaturas_drx1, drx1_temperatura_options);

        var drx2_temperatura_options = {
          title:'Temperaturas DRX2 - 1 de Marzo de 2016',
          titleTextStyle: {fontSize: 14},
          width:600,
          height:300,
          interpolateNulls: true,
          curveType:'function',
          legend: {position: 'top', alignment: 'center'},
          focusTarget: 'category',
          explorer: {
            actions: ['dragToZoom','rightClickToReset'],
            keepInBounds: true
          },
          hAxis: {
            title: 'Horario'
          },
          vAxis: {
            title: 'Temperatura (ºC)',
            ticks: [20,22,24,26,28,30,32,34,36]
          }
        };
        var drx2_temp_chart = new google.visualization.LineChart(document.getElementById('linechart_drx2_temp'));
        drx2_temp_chart.draw(temperaturas_drx2, drx2_temperatura_options);

        var tx_potencia_options = {
          title:'Potencias TX - 1 de Marzo de 2016',
          titleTextStyle: {fontSize: 14},
          width:600,
          height:300,
          interpolateNulls: true,
          curveType:'function',
          legend: {position: 'top', alignment: 'center'},
          focusTarget: 'category',
          explorer: {
            actions: ['dragToZoom','rightClickToReset'],
            keepInBounds: true
          },
          hAxis: {
            title: 'Horario'
          },
          vAxis: {
            title: 'Potencia (kW)',
            ticks: [110,112,114,116,118,120,122,124]
          }
        };
        var tx_pot_chart = new google.visualization.LineChart(document.getElementById('linechart_tx_potencia_h'));
        tx_pot_chart.draw(potencia_tx, tx_potencia_options);

        var ecu_temperaturas_options = {
          title:'Temperaturas ECU - 1 de Marzo de 2016',
          titleTextStyle: {fontSize: 14},
          width:600,
          height:300,
          curveType:'function',
          //crosshair: {trigger: 'both'},
          series: {0: {color: '33691E'}},
          legend: 'none',
          explorer: {
            actions: ['dragToZoom','rightClickToReset'],
            keepInBounds: true
          },
          hAxis: {
            title: 'Horario'
          },
          vAxis: {
            title: 'Temperatura (ºC)',
            ticks: [14,16,18,20,22,24,26]
          }
        };
        var ecu_temp_chart = new google.visualization.LineChart(document.getElementById('linechart_ecu_temp'));
        ecu_temp_chart.draw(temperaturas_ecu, ecu_temperaturas_options);

        var offset_options = {
          title:'Offset de Potencias TX - 1 de Marzo de 2016',
          titleTextStyle: {fontSize: 14},
          width:600,
          height:300,
          curveType:'function',
          legend: 'none',
          focusTarget: 'category',
          explorer: {
            actions: ['dragToZoom','rightClickToReset'],
            keepInBounds: true
          },
          hAxis: {
            title: 'Horario'
          },
          vAxis: {
            title: 'Offset Potencia (dB)',
            ticks: [-0.2,-0.1,0,0.1,0.2]
          }
        };
        var offset_pot_chart = new google.visualization.LineChart(document.getElementById('linechart_offset_potencia'));
        offset_pot_chart.draw(offset_potencia, offset_options);

        var solenoide_options = {
          title:'Corriente Solenoide TX - 1 de Marzo de 2016',
          titleTextStyle: {fontSize: 14},
          width:600,
          height:300,
          curveType:'function',
          legend: 'none',
          focusTarget: 'category',
          explorer: {
            actions: ['dragToZoom','rightClickToReset'],
            keepInBounds: true
          },
          hAxis: {
            title: 'Horario'
          },
          vAxis: {
            title: 'Corriente (A)',
            ticks: [20,20.5,21,21.5,22]
          }
        };
        var sol_cur_chart = new google.visualization.LineChart(document.getElementById('linechart_corriente_solenoide'));
        sol_cur_chart.draw(corriente_solenoide, solenoide_options);
      }

      $(window).resize(function() {
          drawChart();
        });
    
    </script>
  </head>

  <body>
    <div>
    {% block bloques_radar %}
    {% endblock bloques_radar %}
    </div>
  </body>

</html>
