{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block bloques_radar %}
<div class="tx-header">
  <hr> <h1>
    <img class="adasa-logo" src="{% static "img/adasa.png" %}" alt="Adasa Sistemas S.A.U." height="50" />
    <a>ESTADO DEL TRANSMISOR</a>
    <img class="euskalmet-logo" src="{% static "img/euskalmet.png" %}" alt="Euskalmet" height="50" />
  </h1> <hr>
</div>

<div class="grid-tablas">
  <table class="columns" align="center">
    <tr>
      <td><div id="linechart_tx_potencia_h"></div></td>
      <td><div id="linechart_ecu_temp"></div></td>
    </tr>
    <tr>
      <td><div id="linechart_offset_potencia"></div></td>
      <td><div id="linechart_corriente_solenoide"></div></td>
    </tr>
  </table>
</div>

<div class="rx-header">
  <hr> <h1>
    <img class="adasa-logo" src="{% static "img/adasa.png" %}" alt="Adasa Sistemas S.A.U." height="50" />
    <a>ESTADO DEL RECEPTOR</a>
    <img class="euskalmet-logo" src="{% static "img/euskalmet.png" %}" alt="Euskalmet" height="50" />
  </h1> <hr>
</div>

<div class="grid-tablas">
  <table class="columns" align="center">
    <tr>
      <td><div id="linechart_drx1_volt"></div></td> <!-- Tension DRX1 -->
      <td><div id="linechart_drx2_volt"></div></td> <!-- Tension DRX2 -->
    </tr>
    <tr>
      <td><div id="linechart_drx1_temp"></div></td> <!-- Temperaturas DRX1 -->
      <td><div id="linechart_drx2_temp"></div></td> <!-- Temperaturas DRX2 -->
    </tr>
  </table>
</div>
{% endblock bloques_radar %}
